@import url('element-plus/dist/index.css');

/* el-slider */
.el-slider {
  width: 230px !important;
}
.el-slider .el-slider__input {
  width: 50px !important;
  padding: 0 !important;
}
.el-slider .el-slider__input .el-input__wrapper {
  padding: 0 !important;
  height: 25px !important;
}
.el-slider__runway.show-input {
  margin: 7px !important;
}

/* ElMessageBox */
.el-message-box {
  top: -30%;
  height: 180px;
  border-radius: 10px;
}
.el-message-box__container {
  height: 75px;
}
.el-message-box__btns {
  .el-button {
    border-radius: 5px;
  }
}
