/* header */
$header-height: 56px;
$header-bg-left: #153aff;
$header-bg-right: #8dd6ff;
$heder-bg: #ffffff;

/* sidebar */
$sidebar-menu-width: 74px;
$sidebar-menu-bg: #ffffff;
$sidebar-menu-active-bg: #43454f;
$sidebar-menu-color: #a3a4a9;
$sidebar-menu-active-color: #fff;
$sidebar-menu-content-width: 320px;

$sub-content-bg: #ffffff;

/* main */
$main-bg: #f5f5f7;

/* preview */
$config-panel-width: 320px;
