.header-container {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  background: $main-bg-color;
  border-bottom: 1px solid $border-color;
}

.main-container {
  width: 100%;
  height: calc(100vh - $header-height);
  display: flex;
  justify-content: space-between;

  .sidebar-container {
    position: relative;
    display: flex;
    height: 100%;
    .menu {
      position: relative;
      width: $sidebar-menu-width;
      height: 100%;
      background: $main-bg-color;
      border-right: 1px solid $border-color;
      .bar {
        position: absolute;
        right: 0;
        width: 2px;
        height: 66px;
        background: var(--el-color-primary);
        transition: all 0.3s;
      }
      .menu-item {
        height: 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.active {
          color: var(--el-color-primary);
        }
        &:hover {
          background: $sub-bg-color;
        }
        .icon {
          margin-bottom: 5px;
        }
      }
    }

    .menu-content {
      width: $sidebar-menu-content-width;
      padding: 15px;
      background: $main-bg-color;
      border-right: 1px solid $border-color;
      transition: all 0.3s;
    }
  }

  .canvas-editor-container {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 30px 30px;
    background-position:
      0 0,
      15px 15px;
    background-image: linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0, #eee),
      linear-gradient(45deg, #eee 25%, #fff 0, #fff 75%, #eee 0, #eee);

    #workspace {
      width: 100%;
      height: 100%;
      .canvas-wrap {
        position: relative;
        .inside-shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 9px 2px #0000001f;
          z-index: 2;
          pointer-events: none;
        }
      }
    }
  }

  .config-panel-container {
    position: relative;
    width: $config-panel-width;
    height: 100%;
    padding: 15px;
    background: $main-bg-color;
    border-left: 1px solid $border-color;
    transition: all 0.3s;

    .attr-item {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > :deep(.icon) {
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $sub-bg-color;
        cursor: pointer;
      }
    }
  }
}
